{
	servers {
		trusted_proxies static private_ranges
		trusted_proxies_strict
	}
}

:8080 {
    root * /phpbb/www

    php_fastcgi unix//run/php-fpm.sock {
        trusted_proxies private_ranges
    }

    file_server

    log stdout
}

:9080 {
    root * /var/www/html/public

    php_fastcgi unix//run/php-fpm.sock {
        trusted_proxies private_ranges
    }

    file_server

    log stdout
}
